.grid-g
  mat-toolbar.grid-u-1-1
    button.grid-visible-xs.menu(mat-icon-button, [matMenuTriggerFor]="menu")
      mat-icon menu

    mat-menu(#menu="matMenu")
      button(mat-menu-item, (click)="menuClick('about')") Over mij
      button(mat-menu-item, (click)="menuClick('whatpulse')") Whatpulse
      button(mat-menu-item, (click)="menuClick('diplomas')") Diploma’s
      button(mat-menu-item, (click)="menuClick('stackexchange')") Stack Overflow
      button(mat-menu-item, (click)="menuClick('github')") Github
      a(mat-menu-item, href="mailto:owain.vanbrakel@gmail.com") Contact

    .center
      button.grid-hidden-xs(mat-button, (click)="menuClick('about')") Over mij
      button.grid-hidden-xs(mat-button, (click)="menuClick('whatpulse')") Whatpulse
      button.grid-hidden-xs(mat-button, (click)="menuClick('diplomas')") Diploma’s
      button.grid-hidden-xs(mat-button, (click)="menuClick('stackexchange')") Stack Overflow
      button.grid-hidden-xs(mat-button, (click)="menuClick('github')") Github
      a.grid-hidden-xs(mat-button, href="mailto:owain.vanbrakel@gmail.com") Contact

